<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <queries>
        <package android:name="com.google.android.projection.gearhead" />
    </queries>
    

    <application
        android:label="AA Guard"
        android:icon="@drawable/bluetooth_drive_24"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules">

        <!-- LSPosed/Xposed module metadata -->
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="Blocks Android Auto until explicitly allowed from AA Guard." />
        <meta-data android:name="xposedminversion" android:value="93" />

        <!-- QS Tile -->
        <service
            android:name=".qs.AllowAaTileService"
            android:exported="true"
            android:icon="@drawable/bluetooth_drive_24"
            android:label="Allow AA"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <!-- Launcher to open allow window and start AA -->
        <activity
            android:name=".ui.LauncherActivity"
            android:exported="true"
            android:label="Launch Android Auto">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".BootReceiver"
            android:directBootAware="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    
    </application>
</manifest>
